/*-----Importamento de fontes----*/
@import url(https://db.onlinewebfonts.com/c/9a8084b55cf30c13507c01cbfd6ce3e0?family=Subway+NewYork+OT+W01+Regular);
@import url(https://db.onlinewebfonts.com/c/5fbc824fc20dd8012386aae646012bf2?family=Glacial+Indifference);

/*------Seção do Reset Básico----*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*------Alteração da fonte do header-----*/
header {
    font-family: "Subway NewYork OT W01 Regular";
}

nav {
    display: flex;
}

.links {
    font-family: "Glacial Indifference";
}

/*-----Seção principal da página------*/
#fundo-principal {
    background-image: url(imgs/Estive\ nos\ 2\ dias\ do\ STU\ \(@skatetotalurbe\)\,\ um\ circuito\ que\ celebra\ o\ skate\,\ a\ arte\ de\ rua\,\ life.jpg);
    justify-content: center;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: top;
}
